#links{
    float: right;
    padding-top: 25px;
}

body{
    background-image: url(../static/img/fundo.png);
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#img-capa{
    padding-top: 5px;
    padding-inline: 100px;
    justify-content: center;
    align-items: center;
    
}

p{
    text-align: justify;
}

h4{
    text-align: center;
}

#img-fundo{
    background-image: url(../static/img/fundo2.png);
}