*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-links {
    display: flex;
    margin-left: auto;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
  }

  .navbar-links a:nth-child(2) {
    white-space: nowrap;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .navbar-links {
      flex-direction: row;
      margin-left: 0;
      margin-top: 10px;
    }
  
    .navbar-links a {
      margin: 5px 0;
    }
  }
  

.capa{
  display: flex;
  background-color: lightgray;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.conteudo, .navbar{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 600px) {
  .conteudo, .navbar{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}


body{
    background-image: url(../static/img/fundo2.png);
}


p{
    text-align: justify;
}

h4{
    text-align: center;
}


table{
  justify-content: center;
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px;
}

th, td {
  padding: 10px;
}

@media (max-width: 600px){
  table{
      width: 75%;

  }
  td{
      width: 75%;
  }
}