{% extends "base.html" %}

{% block conteudo %}

<body id="img-fundo">

    <br>

    <h2>Entre em contato</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corporis error blanditiis!</p>

    <hr>

    <form>

        Seu e-mail:<br>
        <input type="text" name="Seu e-mail"> <br>
        Assunto:<br>

        <input type="text" name="Assunto"> <br>
        Descrição:<br>

        <textarea name="Descrição"></textarea> <br>

        <input type="submit" value="Enviar">
    </form>

</body>

{% endblock %}