{% extends "base.html" %}

{% block conteudo %}

<body id="img-fundo">

    <br>

    <h2>Entre em contato</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corporis error blanditiis!</p>

    <hr>

    <form method="post" action="/contato">

        <label for="">Seu e-mail:</label><br>
        <input type="text" name="email" placeholder="Digite seu email..."> <br>
        
        <label for="">Assunto:</label><br>
        <input type="text" name="assunto" placeholder="Digite o assunto..."> <br>
        
        <label for="">Descrição:</label><br>
        <textarea name="descricao" placeholder="Digite a descrição..."></textarea> <br>

        <input type="submit" value="Enviar">
    </form>

</body>

{% endblock %}