{% extends "base.html" %} 

{% block conteudo %}

<body>
    <br>
    <div class="capa">
        <picture>
            <img srcset="../static/img/capa200.png 200w, ../static/img/capa500.png 500w"
            sizes="(max-width: 600px) 400px, 800px"
            alt="capa">
        </picture>
    </div>
    <br>
    <div class="conteudo">
        <h2>Sobre a universidade</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque modi ipsa vel exercitationem aspernatur accusamus! Pariatur nulla aut saepe delectus cum? Pariatur molestiae iure corrupti obcaecati voluptates, ut, quasi ipsum molestias deserunt quis, voluptatem cumque delectus temporibus ab! Doloribus, labore consectetur commodi, laboriosam esse optio iste nobis minus sunt vel voluptates ipsam illo saepe similique at necessitatibus cupiditate nesciunt eos reprehenderit aut quidem a facere. Voluptas quibusdam minima tempore sunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa perspiciatis minima aut explicabo quos excepturi harum voluptate atque! Ullam eveniet iure, totam consequuntur incidunt veritatis adipisci fugiat dolor molestiae soluta, nostrum hic. Veritatis ducimus voluptatum eum reiciendis consequuntur, vero ipsa optio blanditiis accusamus, facilis soluta magni neque, eveniet iure labore.</p>
    </div>
    <br>
    </body>

{% endblock %}