{% extends "base.html" %}

{% block conteudo %}

<body id="img-fundo">
<br>
<div class="conteudo">
    <h2>Quem somos</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laudantium tempore quasi adipisci pariatur quos at. Consequuntur molestias obcaecati excepturi explicabo tempore distinctio autem dolor labore quod iste? Tenetur suscipit dolorem impedit sit maiores culpa illo! Saepe nisi ea, delectus eaque pariatur harum ratione eos debitis laboriosam magnam omnis dicta possimus exercitationem doloremque dolorem facilis. Nostrum ex esse aut? Dolores sit aspernatur sed facilis veritatis blanditiis velit in incidunt optio, porro quibusdam quo? Delectus, numquam?
    </p>
    <br>
    <h2>5 motivos para estudar</h2>
    <br>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tables em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <br>
    <hr>
    <br>
    <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iure possimus excepturi harum. Facere iure aliquam alias est dolorum voluptates provident reiciendis, ut vero soluta hic, reprehenderit veritatis a doloribus culpa! Quos, impedit totam esse similique blanditiis, nihil perferendis ratione ipsum dolorum accusamus laudantium aspernatur soluta amet, voluptate tempora numquam perspiciatis optio qui cupiditate sint. Ipsa labore, aspernatur incidunt magni perspiciatis quisquam reprehenderit sequi fugit ipsam fugiat, saepe laudantium odit harum inventore rem quaerat error doloremque! Exercitationem quis dignissimos consequuntur?
    </p>
</div>
<br>
</body>

{% endblock %}